ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fdf8f8;
    top: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    margin: auto;
    left: 0;
    
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: rgb(26, 25, 25);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  img{
    width: 100%;
    height: 100%;
  }
  .center{
        margin: auto;
        width: 60%;
        left: 0px;     
  }
  /* .op{
    opacity: 0.9;
  } */
  .ipaad{
    position: absolute;
    font-weight: bold;
    bottom: 80%;
    padding: auto;
    text-align: center;
    width: 100%;
    color: rgb(252, 250, 250);
    font-size: 60px;
    font-family: sans-serif;
  }
  .ipaad1{
    position: absolute;
    bottom: 70%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 60px;
    font-family: sans-serif;

  }
  .div2{
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 0px;
    padding-left: 0px;
  }
  .logo{
    width: 20px;
    height: 16px;
    
  }
  .icon{
    top: 5px;
    width: 20px;
    height: 16px;
  }
  .bag{
    width: 15px;
    height: 16px;
  }
  .vision{
    position: absolute;
    text-align: center;
    color: rgb(29, 29, 29);
    font-size: 45px;
    font-family: sans-serif;
    width: 92%;
    padding-top: 0px;
    padding-left: 0px;
    height: 100%; 
  }
  .vision2{
    width: 100%;
    height: auto;
  }
  .grid{
    display: flex;  
    background-color: rgb(250, 246, 246);
    text-decoration: none;
  }
  .macb{
    flex: 50%;
    width: 100%;
    background-color: rgb(238, 234, 234);
    padding: 0px;
    height: 100%;
  }
  .macb1{
  position: absolute;
  top: 465%; 
  border: 4px solid black;
  padding-top: 1px;
  border-radius: 40px;
  left: 36%;
  background-color: rgb(22, 22, 22);
  } 
  .macb1 a{
    text-decoration: none;
    font-family: sans-serif;
  } 
  .macb1 a:hover{
    color: white;
  }
.card{
  flex: 50%;
  width: 100%;
  background-color: rgb(247, 243, 243);
  padding: 0px;
  /* padding-top: 0px;
  padding-left: 0px; */
  height: 100%;
} 
.card1{
  position: absolute;
  top: 465%; 
  border: 4px solid black;
  padding-top: 1px;
  border-radius: 5px;
  left: 80%;
  background-color: rgb(13, 13, 14);
  text-decoration: none;
}
.card1 a{
  text-decoration: none;
  font-family: sans-serif;
}
.card1 a:hover{
  color: white;
}
.scroll{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 600px;
  display: flex;
  overflow: auto;
  transition-delay: 0.6s;
}
.scroll img{
  padding: 5px 10px;
}
.scroll video{
  padding: 10px 20px;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(249, 250, 252);
}

.flex-container > div {
  background-color: #f1f1f1;
  color: rgb(88, 87, 87);
  width: 1000px;
  height: 100%;
}